// Specific CSS for your home-page
.bg-main {
  background: radial-gradient(800px circle at 1550px 800px,
                              $trami-blue,
                              transparent),
              radial-gradient(800px circle at 40px 1850px,
                              $trami-purple,
                              transparent),
              radial-gradient(800px circle at 1500px 3000px,
                              $trami-yellow,
                              transparent);
  background-color: $trami-white;
  margin: auto;
  height: 2850px;
}
.main-container {
  padding-top: 70px;
  border-style: solid;
  border-width: 1px;
  border-color: $border-brown;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 90px;
}

.tag-line {
  padding-top: 80px;
}

.orange {
  color: $text-orange;
}

.trami-img {
  width: 420px;
  height: 420px;
}

.search-bar {
  padding-top: 5px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: $border-brown;
  border-radius: 15px;
  width: 745px;
}

.location {
  width: 350px;
  height: 40px;
  border-color: $border-brown;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

input[type=text] {
  outline: none;
  color: $text-brown;
  font-weight: 300;
}

.date {
  width: 250px;
  height: 40px;
  border-color: $border-brown;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.search-btn {
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-color: transparent;
  background-color: transparent;
  font-weight: 300;
  color: $text-brown;
}

.search-btn:hover{
  background-color: $bg-medium-beige;
  border-radius: 15px;
  transition-duration: 0.3s;
  color: #837467;
}

input::placeholder {
  color: $input-placeholder;
}

.search-wrap {
  margin-left: 155px;
  margin-top: 20px;
}

.text-brown {
  color: $text-brown;
}

.text-black-gray {
  color: $text-black-gray;
}

.image {
  position: relative;
}

.trami-img-2 {
  position: absolute;
  left: 0px;
}

.location-search {
  padding-right: 8px;
}

.input-search {
  margin-top: 5px;
}

// * {
//  border: solid 1px red;
// }

// 3rd Homepage

#header-font {
  margin-top: 40px;
  font-size: 70px;
}


.city-info {
  margin-bottom: 70px;
  margin-top: 80px;
}

.swiper {
  height: 250px;
  margin-top: 40px;
}

.swiper-wrapper {
  width: 500px;
  align-items: center;
}

.swiper-slide {
  width: 200px;
  height: 200px;
}

.swiper-slide img {
  width: 200px;
  height: 200px;
}

.create-room {
  border-bottom-style: solid;
  padding-bottom: 20px;
  margin-top: 60px;
  width: 80%;
  border-width: 1px;
  border-color: $border-brown;
}

.line {
  border-bottom: 1px solid $border-black-grey;
  width: 12%;
  margin-bottom: 35px;
}

.color-black-gray {
  color: $text-black-gray;
}

.icon-instruction {
  height: 200px;
  width: 200px;
  background: $bg-dark-beige;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(114, 99, 86, .35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-insruction {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-top: 200px;
  margin-bottom: 100px;
}

.discover-img {
  width: 85px;
  height: 85px;
}

.calendar-img {
  width: 125px;
  height: 100px;
  padding-left: 5px;
}

.reward-img {
  width: 55%;
  height: 55%;
}

.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.1); }

.block-instruction {
  width: 210px;
  text-align: center;
}

.carousel-container {
  margin-top: 150px;
}

.swiper-container {
  padding-top: 20px;
  background: rgba(255, 255, 255, .7);
  width: 100vw;
}

.swiper-box {
  width: 80%;
}

.city-container {
  padding-left: 150px;
}

.create-room-container {
  margin-top: 100px;
}

.swiper-pagination {
  --swiper-theme-color: #726356;
}
