// Import page-specific CSS files here.
@import "home";
@import "questionaires";
@import "login";
@import "signup";
@import "new";

#index-main {
  background: radial-gradient(400px circle at 800px 0px,
                              $trami-blue,
                              transparent),
              radial-gradient(400px circle at 0px 700px,
                              $trami-purple,
                              transparent),
              radial-gradient(250px circle at 650px 550px,
                              $trami-orange 0%,
                              transparent);
  background-color: #fffaf8;
  height: 84.5vh;
  position: relative;
}

.left {
  width: 65%;
  height: 84.5vh;
}

.all-rooms-container {
  padding-top: 15px;
  margin-bottom: 100px;
  border-radius: 15px;
  height: 380px;
}

.half-bottom {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, 0.1) .1em, transparent .1em);
  background-size: 2em 2em;
}

.rooms-map {
  width: 35%;
  position: absolute;
  top: -73px;
  right: 0;
  margin-top: 73px;
}

.room-search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  background-color: transparent;
  border: 1px solid $text-brown;
  width: 648px;
  margin-left: 240px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rr-location {
  width: 230px;
  height: 40px;
  border-color: $border-brown;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.r-date-1 {
  width: 270px;
  height: 40px;
  border-color: $border-brown;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.r-search-btn {
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border: none;
  background-color: transparent;
  font-weight: 300;
  color: $text-brown;

  &:hover {
    border: 1px solid $text-brown;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background-color: rgba(216, 197, 174, .7);
    transition: 0.27s;
  }
}

.r-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 20px;
  height: 500px;
  width: 900px;
}

.r-hover {
  margin-bottom: 22px;
}

.r-wrap::-webkit-scrollbar {
  width: 20px;
}

.r-wrap::-webkit-scrollbar-track {
  background-color: transparent;
}

.r-wrap::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.r-wrap::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.r-card {
  position: relative;
  width: 400px;
  height: 230px;
  border-radius: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(183, 155, 130, 0.8);

  &:hover {
    box-shadow: 0px 0px 30px rgba(176, 152, 133, .8);
    filter: saturate(140%);
  }
}

.r-title {
  font-family: $body-font;
  font-size: 19px;
  font-weight: 400;
  color: #4a4038;
}

.r-title-box {
  position: absolute;
  top: -48px;
  left: 0px;
  margin-top: 45px;
  padding-top: 27px;
  width: 400px;
  margin-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fffbf5;
  height: 50px;
}

.r-detail {
  height: 60px;
  background-color: #fffbf5;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.r-gender-img {
  width: 28px;
  height: 28px;
}

.r-age-box {
  padding: 3px 5px;
  border-radius: 15px;
  border: 1.5px solid rgb(121, 121, 121);
  background-color: rgb(255, 254, 250);
}

.r-calendar {
  width: 30px;
  height: 27px;
}

.r-back-btn {
  position: absolute;
  text-decoration: none;
  top: 20px;
  left: 100px;
  background-color: transparent;
  border: 1px solid $text-brown;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $text-brown;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

    &:hover {
      background-color: rgba(216, 197, 174, .7);
      transition: 0.3s;
    }
}

.r-new-btn {
  position: absolute;
  text-decoration: none;
  top: 20px;
  left: 170px;
  background-color: transparent;
  border: 1px solid $text-brown;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $text-brown;

  &:hover {
    background-color: rgba(216, 197, 174, .7);
    transition: 0.3s;
  }

}

.r-location-box {
  position: absolute;
  width: 400px;
}
