.login-box {
  width: 70%;
  margin-top: 10px;
  padding-top: 50px;
  border: transparent;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px rgba(114, 99, 86, .35);
}

.trami-img-bg {
  position: absolute;
  top: 70px;
  width: 50%;
  background-image: url("trami-black-img.png");
  background-size: 830px 830px;
  background-repeat: no-repeat;
  height: 85vh;
  background-position-x: 160%;
  background-position-y: 50%;
}

.login-page {
  height: 84vh;
  background: white;
  background: linear-gradient(317deg, #FFCF96 0%, white 65%);
}

.div-orange-gradient {
  padding-top: 50px;

  height: 85vh;
  padding-bottom: 60px;
}

.div-orange {
  position: relative;
  left: 50%;
  width: 50%;
}

.login-form {
  margin-top: 50px;
}

.login-page-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $button-dark-brown;
  width: 320px;
  border: transparent;
  border-radius: 10px;
  color: white;

  &:hover {
    background-color: $button-light-brown;
    transition-duration: 0.3s;
    color: white;
  }
}

.email > label, .password > label, .user_username > label {
  font-family: $body-font;
  font-weight: 400;
  color: $text-black-gray;
}

.email > input, .password > input, .user_username > input {
  border: 1px solid $border-brown;
  border-radius: 10px;
  background-color: $bg-light-gray;
}

.form-control {
  border: transparent;
}

.form-control::placeholder { /* Edge 12 -18 */
  color: $button-placeholder;
  font-family: $body-font;
  font-weight: 300;
  font-size: 16px;
}

.div-email, .div-password {
  padding-bottom: 10px;
}

.div-remember {
  padding-top: 30px;
}

.link-render {
  text-decoration: none;
  font-family: $body-font;
  font-weight: 400;
  color: $text-black-gray;
  font-size: 16px;
}
