.informations-banner {
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.room-show-container {
  display: flex;
  padding: 25px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 10px 5px 5px;
}

.image-show {
  width: 70px;
}

.gender-avatar {
  width: 25px;
}
