.signup-page-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $button-dark-brown;
  width: 205px;
  border: transparent;
  border-radius: 10px;
  color: white;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 300;

  &:hover {
    background-color: #ff9028;
    transition-duration: 0.3s;
    color: white;
  }
}

.homepage-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $button-dark-brown;
  width: 210px;
  border: transparent;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;

  &:hover {
    background-color: $button-light-brown;
    transition-duration: 0.3s;
    color: white;
  }
}

.div-blue-gradient {
  background: white;
  background: linear-gradient(317deg, $trami-blue 0%, white 70%);
  height: 85vh;
  padding-bottom: 60px;
}

.signup-carousel {
  position: absolute;
  right: 12%;
  width: 75%;
  margin-top: 30px;
  padding-top: 70px;
  border: transparent;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0px 0px 20px rgba(114, 99, 86, .35);
  height: 74%;
}

.div-email-1, div.password-1 {
  width: 350px;
}

.male-img {
  width: 50%;
  height: 50%;
}

.female-img, .non-binary-img {
  width: 55%;
  height: 55%;
}

.icon-gender {
  height: 150px;
  width: 150px;
  background: $bg-light-gray;
  border-radius: 50%;
  // box-shadow: 0px 0px 20px rgba(114, 99, 86, .35);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  border: 6px solid rgb(227, 227, 227);

  &:hover {
    box-shadow: 0px 0px 40px rgba(232, 159, 95, 0.6);
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.icon-gender-shadow {
  height: 150px;
  width: 150px;
  background: $bg-light-gray;
  border-radius: 50%;
  // box-shadow: 0px 0px 20px rgba(114, 99, 86, .35);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  border: 6px solid rgb(227, 227, 227);
  box-shadow: 0px 0px 40px rgba(232, 159, 95, 0.6);
}

.gender-select {
  padding-top: 55px;
  padding-bottom: 40px;
}

.birthdate, .nationality, #user_address {
  overflow:hidden;
  border-radius: 15px;
  background: rgb(253, 253, 253);
  height: 50px;
  border-color: $border-brown;
  border-style: solid;
  border-width: 1px;
  width: 350px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 300;
  color: $text-black-gray;
}

.birthdate::placeholder {
  color: $text-black-gray;
}

.div-ques-signup {
  width: 650px;
}

.div-ques-signup-1 {
  width: 750px;
}

#user_description {
  font-size: 20px;
  font-weight: 300;
  color: $text-black-gray;
  border-color: $border-brown;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  background: rgb(253, 253, 253);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.personality-img {
  width: 150px;
  height: 150px;
}

.personality-card {
  background-color: $input-light-gray;
  border: 3.5px solid #91857a;
  width: 400px;
  border-radius: 8px;
}

.personality-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-items: end;
  overflow-y: scroll;
  height:400px;
  width: 900px;
  padding: 20px;
}

.personality-grid {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.personality-img {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.personality-desc {
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 10px;
}

 input[type='radio'] {
  margin-right: 15px;
  margin-top: 14px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #cdcdcd;
  background-color: white;
  border-radius: 50%;
  outline: none;

  &:hover {
    border: 4px solid #ffffff;
    background-color: $button-placeholder;
  }
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type='radio']:checked:before {
  background-color: #ff8818;
  border: 1px solid #d5d5d5;
}


.personality-card:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 0px 20px rgba(255, 136, 24, .5);

}

.next-btn, .prev-btn {
  position: absolute;
}

.next-btn {
  top: 220px;
  right: 35px;
}

.prev-btn {
  left: 35px;
  top: 220px;
}

.inner-signup {
  padding-top: 55px;
}
