<div data-aboutpage-target="about" class="about-container">
  <div class="d-flex justify-content-center mb-5"><h1 class="trami-font font-65 color-black-gray pt-5">All about</h1>&nbsp&nbsp<h1 class="trami-font font-120 orange">Trami</h1></div>
  <div class="d-flex justify-content-center mb-5">
    <div class="line"></div>&nbsp&nbsp<h5 class="trami-font color-black-gray font-48">How it works?</h5>&nbsp&nbsp<div class="line"></div>
  </div>
  <div class="container-insruction d-flex justify-content-around">
    <div class="block-instruction">
      <div class="icon-instruction">
        <%= image_tag("discover.png", alt: "discover-img", class: "discover-img") %>
      </div>
      <p class="main-font weight-300 font-18 text-black-gray pt-5">Discover events and activities. Whether it is nearby location or in worldwide.</p>
    </div>
    <div class="block-instruction">
      <div class="icon-instruction">
        <%= image_tag("calendar.png", alt: "calendar-img", class: "calendar-img grayscale contrast brightness") %>
      </div>
      <p class="main-font weight-300 font-18 text-black-gray pt-5">Create your own Trami group for specific date and location.</p>
    </div>
    <div class="block-instruction">
      <div class="icon-instruction">
        <%= image_tag("reward.png", alt: "reward-img", class: "reward-img grayscale contrast brightness") %>
      </div>
      <p class="main-font weight-300 font-18 text-black-gray pt-5">Become Trami expert through every event’s experience.</p>
    </div>
  </div>
</div>
