<div class="container-f pt-2 footer">
  <div class="d-flex justify-content-between align-items-center py-2" id="footer-container">
    <p class="mb-2">© 2024 Trami</p>
    <p class="mb-2">Made by Trami — Jerry, Thu, Julien, Bhawana</p>
  </div>
</div>
