<div class="questionaire-container d-flex flex-column align-items-center">
  <h1 class="ques-welcome">Hi&nbsp Friend,</h1>
  <div class="div-transparent">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active d-none" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="d-none" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="d-none" aria-label="Slide 3"></button>
    </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="ques-mood carousel-content">
            <div class="question-1 text-center">
              <h1 class="main-font weight-300 font-30">What's your mood?</h1>
            </div>
            <div class="mood-card-wrap d-flex flex-column align-items-center">
              <div class="mood-card-1 d-flex">
                <div class="pt-2 mood-card-dreamy mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Dreamy</p>
                </div>
                <div class="pt-2 mood-card-energetic mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Energetic</p>
                </div>
                <div class="pt-2 mood-card-relax mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Relax</p>
                </div>
                <div class="pt-2 mood-card-neutral mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Neutral</p>
                </div>
                <div class="pt-2 mood-card-social mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Social</p>
                </div>
                <div class="pt-2 mood-card-competitive mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Competitive</p>
                </div>
              </div>
              <div class="mood-card-2 d-flex">
                <div class="pt-2 mood-card-adventurous mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Adventurous</p>
                </div>
                <div class="pt-2 mood-card-chllin mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Chillin</p>
                </div>
                <div class="pt-2 mood-card-creative mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Creative</p>
                </div>
                <div class="pt-2 mood-card-intellectual mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Intellectual</p>
                </div>
                <div class="pt-2 mood-card-exploratory mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Exploratory</p>
                </div>
                <div class="pt-2 mood-card-mindful mood-card d-flex justify-content-center flex-column align-items-center">
                  <p class="main-font">Mindful</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="ques-location carousel-content">
            <div class="text-center">
              <h1 class="main-font weight-300 font-30">Where's your current location?</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="ques-status carousel-content">
            <div class="d-flex flex-column align-items-center">
              <h5 class="main-font weight-300 font-18">Last step...</h5>
              <div>
                <h1 class="main-font weight-300 font-30">Please select who you are?</h1>
                <div class="d-flex justify-content-around">
                <h5 class="main-font weight-300 font-18">I'm a local⛺️</h5>
                <h5 class="main-font weight-300 font-18">I'm a traveller🚀</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon trami-font" aria-hidden="true">Next</span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
