<div class="avatar-decline-accept">
  <div class="small-avatar-container">
    <!-- Modal Trigger Button -->
    <button class="avatar-image" style="border: none; background: none; padding: 0; margin: 0;" data-toggle="popover" title="Popover title" data-content= <%= user.description %> >
      <!-- Ensure the image_tag helper generates the correct image source -->
      <!-- Replace `user.avatar.picture` with the actual image source -->
      <%= image_tag(user.avatar.picture, alt: user.avatar.personality, class: "avatar w-100", style: "border:#{user.mood.color}  5px solid;")%>
    </button>

    <!-- Avatar Text -->
    <div class="avatar-text">
      <h3><%= user.username %></h3>
    </div>
    <!-- Avatar Gender -->
    <div class="avatar-gender">
      <!-- Ensure the correct gender image is displayed -->
      <%= image_tag("#{user.gender}.png", alt: user.avatar.personality, class: "gender-avatar")%>
    </div>
  </div>
  <% if user == @room.user %>
    <div class="button-container">
      <div class="creator-pin">Creator</div>
    </div>
  <% end %>
</div>
