<div class="container" style=" background-image: linear-gradient(rgba(0, 0, 0, .1) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .1) .1em, transparent .1em);
  background-size: 2em 2em;" >

  <%# Room card display %>
  <div>
    <h1>Avalibe Rooms for you.........</h1>
  </div>
  <div class="row" >
      <%= render 'roomcard' %>
  </div>
  <br><br>
   <div class= "map d-flex">
  <div class="col-12">
    <%# Map display code %>
  <br><h1>Search yor place here.....</h1><br>
  <div style="width: 100%; height: 600px; z-index: 100"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
 </div>
</div>
</div>
