<div class="container" >
  <div>
    <h1>Avalibe Rooms for you.........</h1>
  </div>
  <div class="row" style=" background-image: linear-gradient(rgba(0, 0, 0, .1) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .1) .1em, transparent .1em);
  background-size: 2em 2em;" >
      <%= render 'roomcard' %>
  </div>
   <div class= "map d-flex">
  <h1>Map here</h1>
 </div>
</div>
</div>
