.start-button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  border: none;
  background: $border-black-grey;
  background-size: 400%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.round-button, .round-button-prev, .round-button-next {
  position: relative;
  overflow: hidden;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  border: none;
  background: $border-black-grey;
  background-size: 400%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.start-button:hover::before, .round-button:hover::before {
  transform: scaleX(1)
}

.button-content {
  position: relative;
  z-index: 1;
  color: #ffffff;
  text-decoration: none;
}

.join-button {
  
}
.start-button::before, .round-button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    83.2deg,
    rgba(255, 171, 25, .95) 10.8%,
    rgba(255, 148, 25, .95) 94.3%
  );
  transition: all 0.475s;
  z-index: -1;
}

.dashboard-btn {
  color: $text-orange;
  text-decoration: none;
}

.dashboard-btn:hover {
  color: #b5782e;
}

.explore-btn {
  color: #937c62;
  font-size: 19px;
  padding: 11px;
  margin-top: 45px;
  width: 409px;
  border: 2px solid #937c62;
  border-radius: 10px;
  background-color: transparent;

  &:hover {
    border: transparent;
    border-radius: 10px;
    background-color: #937c62;
    color: white;
    transition: 0.35s;
    box-shadow: 0px 0px 8px rgba(114, 99, 86, .4);
  }
}


.round-button-prev:hover, .round-button-next:hover {
  background: rgba(255, 171, 25, 1);
  transition: 0.3s;
}

.mood-button {
  margin: 2px 0;
  cursor: pointer;
  border: none;
  font-weight: 300;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: background-image 0.3s ease;
  color: $text-brown;
}

.disabled-round-btn {
  position: relative;
  overflow: hidden;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  border: 1.5px solid #dedede;
  background: rgba(244, 244, 244, 0.5);
  background-size: 400%;
  color: gray;
}

.sign-gray {
  position: relative;
  z-index: 1;
  color: #dbdbdb;
  text-decoration: none;
}
