.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(60vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.chatroom h1 {
  margin-bottom: 0;
  padding: 1rem;
}

.chatroom .messages {
  height: calc(100% - 2rem);
  overflow: scroll;
  padding: 2rem;
  background-color: $input-light-gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Changed to column to stack messages vertically */
  box-shadow: 0px 0px 10px rgba(114, 99, 86, .4);
}

.chatroom .my-message,
.chatroom .other-message {
  width: 40%; /* Changed width to max-width */
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
}

.chatroom .my-message {
  background-color: #DCF8C6;
  align-self: flex-end; /* Aligns your messages to the right */
}

.chatroom .other-message {
  background-color: #EAEAEA;
  align-self: flex-start; /* Aligns others' messages to the left */
}
#new_message {
  padding: 1rem;
  height: 50px;
  .form-group {
    margin-bottom: 0;
  }
}
