.dashboard {
  border-radius: 10px;
  background-color: white;
  height: 80vh;
}

#dashboard-height {
  height: 85vh;
  padding: 20px 20px;
}

#dashboard-swiper {
  height: 250px;
  margin-top: 0;
}

.event-room, .my-room {
  color: black;
}

#swiper-slide-room {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: 5px 5px 5px;
}

#wrapper-room {
  display: flex;
  height: 230px;
}

#swiper-slide-myroom {
  height: 135px;
  width: 175px;
  border-radius: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin: 10px 10px;
  box-shadow: 5px 5px 5px;
  padding: 10px 10px;
}

.review-height {
  height: 48px;
}
