html {
  scroll-behavior: smooth;
}

.dashboard {
  border-style: solid;
  border-width: 1px;
  border-color: $border-brown;
}


ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0 0;
  padding: 0 0;
}

.event-room, .add-room {
  color: black;
}

.my-room {
  height: 75px;
  color: black;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding: 10px;
  box-shadow: 2px 2px 2px;
}

#swiper-slide-room {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: 5px 5px 5px;
  margin: 0px 10px;;
}

#wrapper-room {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon {
  color: black;
}
