.dashboard {
  border-style: solid;
  border-width: 1px;
  border-color: $border-brown;
  height: 85vh;
}

.event-room, .add-room , .my-room {
  color: black;
}

.add-room {
  background-color: #b5782e;
}

#swiper-slide-room {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: 5px 5px 5px;
  margin: 0px 10px;
}

#wrapper-room {
  display: flex;
  height: 220px;
  margin-top: 20px;
}

#swiper-slide-myroom {
  height: 150px;
  width: 180px;
  border-radius: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  box-shadow: 5px 5px 5px;
  padding: 10px 10px;
}

#wrapper-room-2 {
  display: flex;
  height: 200px;
  margin-top: 20px;
}
