.footer-logo-container {
  display: flex;
  justify-content: end;
  width: 126px;
}

.footer-logo-container .footer-logo-img {
  height: auto;
}

.footer-links a {
  color: black;
  font-size: 25px;
  padding: 0 10px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #B08C8C;
}

.footer {
  background: transparent;
}

.footer .container-f {
  border-top: solid 0.5px black;
}

 .footer-container {
  background-color: transparent;
  position: static;
  bottom: 0;
  z-index: 1;
  margin: 0 40px;
 }
