// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "roomcard";
@import "footer";
@import "dashboard";
@import "chatroom";
@import "newroom";
@import "indexcard";

// importing trami fonts
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Reenie+Beanie&display=swap');

// font weight class
.weight-400 {
  font-weight: 400;
}

.weight-300 {
  font-weight: 300;
}

.weight-500 {
  font-weight: 500;
}

// font sizes
.font-65 {
  font-size: 65px;
}

.font-120 {
  font-size: 120px;
}

.font-48 {
  font-size: 48px;
}

.font-18 {
  font-size: 18px;
}

.font-30 {
  font-size: 30px;
}

.font-28 {
  font-size: 28px;
}

.font-60 {
  font-size: 60px;
}

.font-16 {
  font-size: 16px;
}

.font-22 {
  font-size: 22px;
}
