// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";

// importing trami fonts
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Reenie+Beanie&display=swap');

// font weight class
.weight-400 {
  font-weight: 400;
}

.weight-300 {
  font-weight: 300;
}

.weight-500 {
  font-weight: 500;
}

// font sizes
.font-65 {
  font-size: 65px;
}
