.dreamy-img {
  background-image: url("dreamy-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}

.relax-img {
  background-image: url("relax-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;

}
.mindful-img {
  background-image: url("mindful-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}
.exploratory-img {
  background-image: url("exploratory-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}
.intellectual-img {
  background-image: url("intellectual-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}

.creative-img {
  background-image: url("creative-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}
.chillin-img {
  background-image: url("chillin-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}
.neutral-img {
  background-image: url("neutral-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}
.competitive-img {
  background-image: url("competitive-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}
.social-img {
  background-image: url("social-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}
.adventurous-img {
  background-image: url("adventurous-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}
.energetic-img {
  background-image: url("energetic-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  height: 200px;
}

.img-saturate {
  filter: saturate(70%);

  &:hover {
    filter: saturate(100%);
  }
}
