.navbar-lewagon {
  justify-content: space-between;
}

.navbar-header-text {
  color: #FF8A00;
}

.navbar {
  padding-left: 45px;
  padding-right: 45px;
}

.font-logo {
  color: $text-black-gray;
  text-decoration: none;
}

.navbar-header-text > p {
  margin-bottom: 0;
  font-size: 15px;
}

.trami-div > h1 {
  margin-bottom: 0;
}

.signup-btn {
  text-decoration: none;
  color: #FF8A00;
}

.signup-btn:hover {
  color: #b5782e;
}

.login-btn {
  border: 1px solid $border-brown;
  padding: 8px 20px;
  border-radius: 15px;
  text-decoration: none;
  color: $text-brown;
}

.login-btn:hover{
  background-color: $bg-medium-beige;
  border: transparent;
  transition: .3s;
}

.navbar-login-text {
  color: $text-blue;

  animation:navbar-login-text 0.5s 1;
    -webkit-animation:navbar-login-text 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 4s;
    -webkit-animation-delay: 3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}

@keyframes navbar-login-text{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes navbar-login-text{
    from {opacity :1;}
    to {opacity :0;}
}
