.main-container-form {
  margin-top: 10px;
  padding-top: 70px;
  border-style: solid;
  border-width: 1px;
  border-color: $border-brown;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 90px;
  margin-bottom: 50px;
}

