.room-card {
  display: flex;
  padding: 25px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 10px 5px 5px;
}

.room-info-banner {
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  width: 100%;

}

.room-card .room-info > h3 {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}


.room-image-show {
  width: 10px;
}

.swiper {
  height: 250px;
  margin-top: 40px;
}


.swiper-wrapper {
  width: 100px;
  align-items: center;
}

.room-slide-card{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: 5px 5px 5px;
  margin: 0px 10px;;
}

.swiper-slide-1 {
  width: 200px;
  height: 200px;
}

.swiper-button-prev, .swiper-button-next {
  color: rgba(206, 187, 165, .35);
}

.swiper-button-next,
          .swiper-button-prev {
            background-position: center;
            background-size: 40px;
            background-repeat: no-repeat;
            padding: 8px 16px;
            border-radius: 100%;
            border: 2px solid black;
            color: red;
          }

          .swiper-button-prev {
            background-image: url("/box-arrow-in-left.svg");
          }

          .swiper-button-next {
            background-image: url("/box-arrow-in-right.svg");
          }

          .swiper-button-next::after,
          .swiper-button-prev::after {
            content: "";
          }
