@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

.room-card {
  display: flex;
  padding: 25px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 10px 5px 5px;
}

.card-description ,.card-title, .card-activity, .card-timeline{
  padding: 0;
  margin: 0;
  width: 100%;
  color: black;
}

.room-info-banner {
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  width: 100%;
  color: black;
}

.card-header,.card-footer{
  background-color: transparent;
  justify-content: space-between;
  padding:0;
  margin: 0;
  width: 100%;
  color: black;
  border: none;
}

.room-image-show {
  width: 10px;
}

.swipper {
  height: 450px;
  margin-top: 40px;
}


.swiper-wrapper {
  width: 100px;
  align-items: center;
}

.room-slide-card{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: 5px 5px 5px;
  margin: 0px 10px;;
}


.flex-container {
  display: flex;
  justify-content: space-around;
}

.room-slide {
  width: 200px;
  height: 200px;
}

.swiper-button-prev, .swiper-button-next {
  --swiper-navigation-size: 30px;
  --swiper-navigation-color: var(--swiper-theme-color);
  --swiper-navigation-color-opposite: var(--swiper-theme-color-opposite);
}
